



:root{
    /* COLORS */
    --orange: #ffa500;
    --green: #207e3c;
    --red: #ff0000;
    --yellow: #dcf83b;
    --brown: #8b5c04;
    --blue-light: #00e1ff;
    --blue: #0400ff;
    --pink: #ff00dd;
    --green-light: #22fa2d;
    --violet: #720063;
    --black: #000000;
    --black-v2: #222;
    --black-light: #444;
    --grey: #8d8d8d;
    --white: #ffffff;
    
    
}